div.a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: Azure; background-color: DarkSlateGray;
}
p.b {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: DarkSlateGray;
  font-size: 20px;
}
span {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  color: red;
  font-size: 30px;
}
div.b {
  text-align: center;
}
